body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}
/* Nav Styles  */

nav{
    background-color: rgba(45, 37, 160, 1);
}
.nav-bars{
    display: flex;
    justify-content: space-between; 
    padding-left: 156px;
    padding-top: 42px;
    padding-right: 88px;
    padding-bottom: 67px;
}
.bar-names a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    
    font-weight: 500;
    padding: 5px 20px;
}
.bar-login a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(224, 44, 109, 1) ;
    padding: 10px 30px;
    font-weight: 500;
}
.bar-login .fas{margin-right: 5px;}
.bar-names a:hover{ 
    background-color:rgba(224, 44, 109, 1) ;
    border-radius: 5px;
  
}
.bar-login:hover{transform: scale(1.1);
                 transition: transform 1s;
}

/*---------------------
   Upper Header styles 
 ----------------------*/
 .header-sec{
     display: flex;
     background-color:rgba(45, 37, 160, 1) ;
 }
 .header-div{
     width: 50%;
     margin-top: 30px;
     margin-bottom: 86px;
 }
 .header-div img{
    width: 600px;
    
    
 }
 h1{
     color: rgba(255, 255, 255, 1);
     font-size: 64px;
     font-weight: 700;
     line-height: 40px;
 }
 .title{
    margin-left:156px ;

 }
 .button{
     text-decoration: none;
     color: rgba(255, 255, 255, 1);
     background-color: rgba(224, 44, 109, 1);
     padding: 10px 24px 10px 24px;
     font-size: 16px;
     font-weight: 500;
     
 }
 .buttons .fas{margin-left: 5px;
      margin-top: 20px;   
}
.buttons:hover {
    transform: scale(1.1);
    transform-origin: left;
    transition: transform 1s;

}

/*------------------- 
      Main Topics
--------------------- */
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.players{
    display: grid;
    grid-template-columns: repeat(3,0.1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    padding-top: 70px;
    padding-bottom: 165px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
}
.player{
    background-color: rgba(255, 255, 255, 1);
    height:474px ;
    width: 330px;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.052);
}
.player-image{ display: flex;
    justify-content: center;
  
}
.player-image img{
   width: 330px;
   
}
.player-info{
    padding-left: 5px;
}
h4{
    font-size: 28px;
    font-weight: 700 ;    
}
 p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(108, 108, 108, 1);
}
.player:hover{
    transform: scale(1.05);
    transition: transform 1s;
}
h4:hover{color:rgba(45, 37, 160, 1) ;}

/*----------------
 All Highlight Copa America  
 --------------------------*/

 .highlights{
     display: flex;
     margin-left: 182px;
     margin-right: 156px;
 }
 .highlights-inner{
     width: 50%;
     margin-left: 69px;
     margin-bottom: 100px;
 }
 .highlights-inner img{
    width: 567px;
    height: 427px;
 }
 h2{
     font-size: 48px;
     font-weight: 700;
     line-height: 40px;
 }
  
 /*----------------------------------
          Footer Style  
  -----------------------------------*/
  footer{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}
footer img{
    width: 483.87px;
height: 110px;
}
h6{font-size: 18px;
color:rgba(0, 0, 0, 1);}
.fab{font-size: 32px;
    margin-left: 14px;
color: grey;
padding-top: 20px;
cursor: pointer;
}


/*-------------------- Bonus Part  ---------------*/
/*----------------- 
Next Matches Style  
------------------*/
.next-matches{
    margin-bottom: 60px;
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.096);
}
h3{ margin-left: 20px;
    padding-left: 5px;
   font-size: 38px;
   border-left: 5px solid ;
   border-image: linear-gradient(blue,black);
   border-image-slice: 1;
}
.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    padding: 30px;
    
   
}
.match{
    box-shadow: 5px 5px 30px grey;
    padding: 15px;
    border-radius: 5px;
}
.match-images{width: 300px;
border-radius: 5px;}
.match p{display: flex;
justify-content: space-between;
align-items: center;}
.match a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    background-color: rgba(224, 44, 109, 1);
    padding: 5px 10px;
    border-radius: 10px;
}
.match:hover{transform: scale(1.07);
             transition: transform 2s;
}

