body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}
/*---------------------
   Upper Header styles 
 ----------------------*/
 .header-sec{
     display: flex;
     background-color:rgba(45, 37, 160, 1) ;
 }
 .header-div{
     width: 50%;
     margin-top: 3%;
 }
 .header-div img{
     width: 90%;
     margin-bottom: 86px;
 }
 h1{
     color: rgba(255, 255, 255, 1);
     font-size: 64px;
     font-weight: 700;
     line-height: 40px;
 }
 .title{
    margin-left:156px ;

 }
 .button{
     text-decoration: none;
     color: rgba(255, 255, 255, 1);
     background-color: rgba(224, 44, 109, 1);
     padding: 10px 24px 10px 24px;
     font-size: 16px;
     font-weight: 500;
     
 }
 .fas{margin-left: 5px;
      margin-top: 20px;   
}
.buttons:hover {
    transform: scale(1.06);
    transition: transform 1s ease-in;}

/*------------------- 
      Main Topics
--------------------- */
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.players{
    display: grid;
    grid-template-columns: repeat(3,0.1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    padding-top: 70px;
    padding-bottom: 165px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
}
.player{
    background-color: rgba(255, 255, 255, 1);
    height:474px ;
    width: 330px;
    padding: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.052);
}
.player-image{ display: flex;
    justify-content: center;
  
}
.player-image img{
   width: 330px;
   
}
.player-info{
    padding-left: 5px;
}
h3{
    font-size: 28px;
    font-weight: 700 ;    
}
 p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(108, 108, 108, 1);
}
.player:hover{
    transform: scale(1.05);
    transition: transform 1s;
}
h3:hover{color:rgba(45, 37, 160, 1) ;}

/*----------------
 All Highlight Copa America  
 --------------------------*/

 .highlights{
     display: flex;
     margin-left: 182px;
     margin-right: 156px;
 }
 .highlights-inner{
     width: 50%;
     margin-left: 69px;
     margin-bottom: 158px;
 }
 .highlights-inner img{
    width: 567px;
    height: 427px;
 }
 h2{
     font-size: 48px;
     font-weight: 700;
     line-height: 40px;
 }

